<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>smallGiant</title>  

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

</head>

<body>
	'Viz.ai LVO Stroke System in Traditional ______ Workflow.' What is the missing word?                                                                
   Once you find it - maybe try to change the URL? 
  Hint:
  <img src="/static/viz.png" style="width:50px;height:60px;"> 
</body>
</html>
